.gameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.buttonContainer {
    position: relative;
    transform: scale(1.5);
    background: none;
    border: none;
    user-select: none;
    outline: none;
    margin: 22px;
    transition: transform 0.1s;
}

.coinContainer {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin {
    display: block;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center;
    cursor: pointer;
}

.coin.active {
    transform: scale(0.9) rotateX(0deg) rotateY(0deg);
}

.coinButton {
    -webkit-tap-highlight-color: transparent;
}

.touchPoint {
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    animation: flyUp 1s ease-out forwards, fadeOut 1s ease-out forwards;
}

@keyframes flyUp {
    0% {
        opacity: 1;
        transform: translateY(-10px) scale(1);
    }
    50% {
        opacity: 1;
        transform: translateY(-80px) scale(1.5);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(2);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.progressContainer {
    width: 300px;
    height: 20px;
    background-color: #2c0083;
    border-radius: 10px;
    margin-bottom: 10px;
}

.progressBar {
    height: 100%;
    border-radius: 10px;
    background-color: #bf05ff;
}

.progressBarText {
    text-align: center;
    font-size: 14px;
}

.upgradesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.upgradeButton {
    background-color: #2c0083;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.upgradeButton:hover {
    background-color: #bf05ff;
}

.upgradeButton:nth-child(2) {
    background-color: #2c0083;
}

.upgradeButton:nth-child(2):hover {
    background-color: #2c0083;
}

.progressContainer {
    margin-top: 20px;
    width: 80%;
}



.progressBarText {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}

.totalScore {
    margin-top: 150px;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
