.gameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.buttonContainer {
    position: relative;
    transform: scale(1.5);
    background: none;
    border: none;
    user-select: none;
    outline: none;
    margin: 22px;
    transition: transform 0.1s;
}

.coinContainer {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin {
    display: block;
    width: 200px;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center;
    cursor: pointer;
}

.coin.active {
    transform: scale(0.9) rotateX(0deg) rotateY(0deg);
}

.coinButton {
    -webkit-tap-highlight-color: transparent;
}

.touchPoint {
    position: absolute;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    animation: flyUp 1s ease-out forwards, fadeOut 1s ease-out forwards;
}

@keyframes flyUp {
    0% {
        opacity: 1;
        transform: translateY(-10px) scale(1);
    }
    50% {
        opacity: 1;
        transform: translateY(-80px) scale(1.5);
    }
    100% {
        opacity: 0;
        transform: translateY(-100px) scale(2);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.totalScore {
    margin-top: 150px;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
